       <ul typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="../../index.html">
              <span property="name">Home</span>
            </a>
        </li>
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="../research.html">
              <span property="name">Research</span>
            </a>
        </li>
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="../3d.html">
              <span property="name">Project 3D</span>
            </a>
        </li>
       </ul>
