    body {
      height: 100%;
      width: 100%;
      background-color: #b4ffff;
      margin: 0;
      overflow: hidden;
      font-family: Arial;
    }
    .slide {
      height: 100%;
      width: 100%;
    }
    
    .content {
      height: 62%;
      width: 90vw;
      display: flex;
      flex-direction: column;
      color: #424242;
      text-align: left;
      padding: 5vw;
      overflow-x: auto;
      font-size: 3vmin;
      flex-wrap: wrap;
    }
    .content h1,
    .content h2 {
      color: #00363a;
    }
    
    .content table {
      color: #424242;
      font-size: 120%;
      width: 90%;
    }
    .content a:link,
    .content a:visited{
      color: #00363a;
      text-decoration:none;
    }
    .content th {
      color: #424242;
      background-color: #81b9bf;
      font-size: 120%;
      padding: 15px;
    }
    .content figure {
      max-width:90%;
      max-height:90%;
    }
    .content figure img{
      max-width:90%;
      max-height:90%;
    }
    .content figure figcaption {
        max-width:90%;
        max-height:90%;
    }
    .content td {
      color: #424242;
      font-size: 11w;
      width: 8%;
      padding: 10px;
    }
    .content li {
      line-height: 4vh;
    }
    .header {
      color: #ffffff;
      background-color: #00363a;
      height: 5vw;
    }
    .header h1 {
      text-align: center;
      font-size: 3vw;
      margin: 0;
    }
    .footer {
      height: 3vw;
      color: #ffffff;
      background-color: #00363a;
      margin: 0;
      padding: .3vw;
      overflow: hidden;
    }
    .footer .contact {
      float: left;
      color: #ffffff;
      text-align: left;
      width: 70vw;
      font-size: 3.2vmin;
    }
    .footer .navigation {
      float: right;
      text-align: right;
      width: 8vw;
      font-size: 120%;
    }
    
    .footer .navigation .next,.prev {
      font-size: 120%;
      color: #ffffff;
      text-decoration: none;
    }
    
    .footer .navigation .next::after {
      content: "| >";
    }
    
    .footer .navigation .prev::after {
      content: "< ";
    }
    @media (max-width: 640px), screen and (orientation: portrait) {
       body {
         max-width:100%;
         max-height:100%;
       }
       .slide {
          height: 100%;
          width: 100%;
       } 
       .content {
          width: 90vw;
          display: flex;
          flex-direction: column;
          text-align: left;
          padding: 1vw;
          line-height: 3.8vmax;
          font-size: 1.8vmax;
          flex-wrap: wrap;
       }
       .content figure {
         max-width:90%;
         max-height:90%;
       }
       .content figure img{
         max-width:70%;
         max-height:70%;
       }
       .content figure figcaption {
           max-width:90%;
           max-height:90%;
       }
    }
    
    @media print {
      body {
        max-width:100%;
        max-height:100%;
      }
      .content {
        height: 76%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        color: #424242;
        text-align: left;
        padding: 5vw;
        font-size: 3vmin;
        flex-wrap: wrap;
      }
      .content figure img{
        max-width:80%;
        max-height:80%;
      }
      .content figcaption {
        max-width:80%;
        max-height:80%;
      }
    }
